<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tinder">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="Finder"
        android:roundIcon="@mipmap/logofinder_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".First_acitivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".ChangeInformation"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MainNavigation.SlideFragmentStudent" />
        <activity
            android:name=".MainNavigation.MainNavigationStudent"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainNavigation.MainNavigationHouse"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Chat.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CreateAccount.StudentHouseActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Trash.MainNavigation"
            android:label="@string/title_activity_main_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CreateAccount.CreateAccountHouse"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".CreateAccount.CreateAccountStudent"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>